<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		<title>INDEX</title>
	</ui:define>

	<ui:define name="content">





		<div class="col-md-6">
			<!-- START card-->
			<div class="card card-default">
				<div class="card-header">Formulaire ajout Compétence</div>
				<div class="card-body">
					<h:form class="form-horizontal">
						<div class="form-group row">
							<label class="col-xl-2 col-form-label">Compétence</label>
							<div class="col-xl-10">
								<h:inputText class="form-control" type="competence"
								value="#{competenceManagedBean.competence.nom}"
									placeholder="Competence" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-xl-2 col-form-label">Description</label>
							<div class="col-xl-10">
								<h:inputTextarea class="form-control" type="text" row="3"
									value="#{competenceManagedBean.competence.description}"
									placeholder="Description" />
							</div>
						</div>
						
						
						<div class="form-group row">
					<div class="col-xl-10">
						<h:commandButton class="mb-1 btn btn-primary" value="Ajouter"
							action="#{competenceManagedBean.ajoutCompetence()}" />
					</div>
				</div>
				
				</h:form>
				</div>
				
				
			</div>
		</div>
		



	</ui:define>


</ui:composition>