<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		<title>INDEX</title>
	</ui:define>

	<ui:define name="content">

	<div class="card bg-info" id="cardPortlet6">
                        <div class="card-header portlet-handler ui-sortable-handle">Candidature effectuée</div>
                        <div class="card-body">
                           <p>Nous apprécions le
temps que vous avez pris pour soumettre votre candidature et vous remercions de votre intérêt envers AdvyTeam</p>
                        </div>
                        <div class="card-footer">Merci</div>
                     </div>


	</ui:define>


</ui:composition>