<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		<title>INDEX</title>
	</ui:define>

	<ui:define name="content">
<div class="container">

<div class="card card-default">

<div class="card-body">
                        <!-- p.lead.text-centerNo mails here-->
                        <table class="table table-hover mb-mails">
                           <tbody>
                            
                              <tr>
                                <td>
                                    <div class="d-flex"><img class="mr-2 mb-mail-avatar" alt="Mail Avatar" src="img/user/10.jpg"/>
                                       <div class="mb-mail-meta">
                                          <div class="mb-mail-subject">NOM PRENOM</div>
                                           <div class="mb-mail-preview">POSTE ROLE</div>
                                          <div class="mb-mail-from">xx@xxx.xx</div>
                                        
                                       </div>
                                     
                                    </div>
                                    <br/>
                                      <h:commandButton class="btn btn-primary" value="submit"
				action="#{tT.print()}" />
                                 </td>
                                 
                                 
                              </tr>
                           </tbody>
                        </table>
                     </div>

</div>


</div>
	</ui:define>


</ui:composition>