<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		<title>INDEX</title>
	</ui:define>

	<ui:define name="content">








		<div class="card">
			<div class="card-body text-center bg-center"
				style="background-image: url('img/bg4.jpg')">
				<div class="row">
					<div class="col-12 text-white">
						<img class="img-thumbnail circle thumb128" src="img/advyteam.png"
							alt="Image" />
						<h3 class="m-0">#{jobDetailsBean.job.titre}</h3>

					</div>
				</div>
			</div>

			<div class="list-group">
				<a class="list-group-item" href="#"><span
					class="badge badge-primary float-right">#{jobDetailsBean.job.datePublication}</span><em
					class="fa-fw far fa-clock text-muted"></em> Date</a><a
					class="list-group-item" href="#"><span
					class="badge badge-primary float-right">#{jobDetailsBean.job.profilRecherche}</span><em
					class="fa-fw fa fa-user text-muted"></em> Profil recherché</a><a
					class="list-group-item" href="#"><span
					class="badge badge-primary float-right">#{jobDetailsBean.job.formation}</span><em
					class="fa-fw far fa-folder-open text-muted"></em> Formation</a> <a
					class="list-group-item" href="#"><span
					class="badge badge-primary float-right">#{jobDetailsBean.job.experience}</span><em
					class="fa-fw far fa-folder-open text-muted"></em> Experiences</a> <a
					class="list-group-item" href="#"><span
					class="badge badge-primary float-right">#{jobDetailsBean.job.typeContrat}</span><em
					class="fa-fw far fa-folder-open text-muted"></em> Type Contrat</a> <a
					class="list-group-item" href="#"><span
					class="badge badge-primary float-right">#{jobDetailsBean.job.lieu}</span><em
					class="fa-fw far fa-folder-open text-muted"></em> Lieu</a>



			</div>
			<div class="col-lg-12">
				<div class="card text-white bg-dark mb-3">
					<div class="card-header">Description</div>
					<div class="card-body">

						<p class="card-text">#{jobDetailsBean.job.descriptionPoste}</p>
					</div>
				</div>
				<h:form>



					<h:commandButton class="mb-1 btn btn-primary" value="Postuler"
						action="#{jobDetailsBean.postulerJob(jobDetailsBean.job.id)}" />


				</h:form>
			</div>

		</div>






	</ui:define>


</ui:composition>