<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		<title>INDEX</title>
	</ui:define>

	<ui:define name="content">
		<h:form>

			<h:commandButton class="mb-1 btn btn-primary" value="submit"
				action="#{tT.print()}" />



			<div class="card-columns">

				<ui:repeat value="#{jobManagedBean.jobs}" var="item">

					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="img/bg1.jpg"
							alt="Card image cap" />
						<div class="card-body">
							<h4 class="card-title">#{item.titre}</h4>
							<p class="card-text">#{item.profilRecherche}</p>
							<h:commandButton class="mb-1 btn btn-primary" value="Savoir Plus"
								action="#{jobManagedBean.savoirPlus(item.id)}" />
						
				
						
						</div>
					</div>


				</ui:repeat>
			</div>
		</h:form>
	</ui:define>


</ui:composition>
