<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		<title>INDEX</title>
	</ui:define>

	<ui:define name="content">




		<div class="card card-default">
			<div class="card-header">Mes candidatures</div>
			<div class="card-body">
				<!-- START table-responsive-->
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>

								<th>Date</th>
								<th>Etat</th>
								<th>Raison</th>
								<th>Job</th>
							</tr>
						</thead>
						<tbody>

							<ui:repeat value="#{candidatureManagedBean.mesCandidatures}"
								var="item">
								<tr>

									<td>#{item.dateCandidature}</td>
									<td>#{item.etatCandidature}</td>
									<td>#{item.raison}</td>

								<td>#{item.job.titre}</td>
								</tr>
							</ui:repeat>

						</tbody>
					</table>
				</div>
				<!-- END table-responsive-->
			</div>
		</div>








	</ui:define>


</ui:composition>