<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		<title>INDEX</title>
	</ui:define>

	<ui:define name="content">
		<h:form>
		POSTULER
		
		#{jobDetailsBean.job.id}
		
		
		</h:form>





		<div class="card b">

			<div class="card-body">
				<h:form enctype="multipart/form-data">
					<div class="form-group">
						<label>Raison</label>
						<h:inputTextarea class="form-control" rows="3"
							value="#{postulerJob.candidature.raison}"/>
					</div>


					<div class="form-group">
						<label>Email</label>
						<h:inputText class="form-control" type="text"
							value="#{postulerJob.candidature.email}" />
					</div>

					<div class="form-group">
						<label>Téléphone</label><h:inputText class="form-control" type="text"
							value="#{postulerJob.candidature.telephone}" />
					</div>
					<div class="form-group">
						<label>LinkedIn</label><h:inputText class="form-control" type="text"
							value="#{postulerJob.candidature.linkedin}" />
					</div>
					<div class="form-group">
						<label>Site Web</label><h:inputText class="form-control" type="text"
							value="#{postulerJob.candidature.siteWeb}" />
					</div>


					<div class="form-group">
						<label>CV</label>
						<h:inputFile class="form-control" type="file" />
					</div>




					<h:commandButton class="btn btn-info" value="Postuler"
						action="#{postulerJob.candidater()}" />
					<p>
						<small class="text-muted">* Integer fermentum accumsan
							metus, id sagittis ipsum molestie vitae</small>
					</p>
				</h:form>
			</div>
		</div>

	</ui:define>


</ui:composition>